{% block heidelpay_frame_credit_card_testdata %}
    <table class="table table-sm table-bordered">
        <tr>
            {% block heidelpay_frame_credit_card_testdata_header %}
                <th>{{ "HeidelPayment.frame.creditCard.testData.brand" | trans  }}</th>
                <th>{{ "HeidelPayment.frame.creditCard.testData.number" | trans  }}</th>
                <th>{{ "HeidelPayment.frame.creditCard.testData.expiry" | trans  }}</th>
                <th>{{ "HeidelPayment.frame.creditCard.testData.cvc" | trans  }}</th>
            {% endblock %}
        </tr>
        {% block heidelpay_frame_credit_card_testdata_data %}
            <tr>
                <td>Mastercard</td>
                <td>5232050000010003</td>
                <td>12/30</td>
                <td>123</td>
            </tr>
            <tr>
                <td>Visa Electron</td>
                <td>4012888888881881</td>
                <td>12/30</td>
                <td>123</td>
            </tr>
            <tr>
                <td>Visa</td>
                <td>4644400000308888</td>
                <td>12/30</td>
                <td>123</td>
            </tr>
        {% endblock %}
    </table>
{% endblock %}
