.unzer-payment-actions--popover-options {
    z-index: 10000 !important;
}

.unzer-payment-actions--button .sw-field {
    margin-bottom: 0;
}
.unzer-payment-actions--button {
}
.unzer-payment-actions--button .sw-button {
    margin-bottom: 12px;
}
