{% block unzer_payment_actions %}
    <sw-container rows="1fr 2fr" gap="10px 0" v-on:click.native.stop>
        {% block unzer_payment_actions_amount_field %}
            <div class="unzer-payment-actions--input">
                <sw-number-field
                    numberType="float"
                    :min="0.00"
                    :max="maxTransactionAmount"
                    :digits="decimalPrecision"
                    :disabled="maxTransactionAmount <= 0"
                    v-model="transactionAmount">
                </sw-number-field>
            </div>
        {% endblock %}

        <div class="unzer-payment-actions--button">
            <sw-container rows="1fr 1fr" v-if="isChargePossible">
                {% block unzer_payment_actions_charge_button %}
                    <sw-button-process :disabled="maxTransactionAmount <= 0 || transactionAmount <= 0" :isLoading="isLoading" :processSuccess="isSuccessful" @click="charge">
                        {{ $tc('unzer-payment.paymentDetails.actions.chargeButton') }}
                    </sw-button-process>
                {% endblock %}

                {% block unzer_payment_actions_cancel_button %}
                    <sw-button-process :disabled="maxTransactionAmount <= 0 || transactionAmount <= 0" :isLoading="isLoading" :processSuccess="isSuccessful" @click="startCancel" variant="ghost-danger">
                        {{ $tc('unzer-payment.paymentDetails.actions.cancelButton') }}
                    </sw-button-process>
                {% endblock %}
            </sw-container>

            <sw-container rows="1fr 1fr" v-else-if="isRefundPossible">
                {% block unzer_payment_actions_reason_field %}
                    <sw-single-select :options="reasonCodeSelection"
                                      :disabled="maxTransactionAmount <= 0 || transactionAmount <= 0"
                                      v-model="reasonCode"
                                      :placeholder="$tc('unzer-payment.paymentDetails.actions.reason.placeholder')"
                                      :popoverClasses="['unzer-payment-actions--popover-options']"
                    >
                    </sw-single-select>
                {% endblock %}

                {% block unzer_payment_actions_refund_button %}
                    <sw-button-process :disabled="maxTransactionAmount <= 0 || transactionAmount <= 0" :isLoading="isLoading" :processSuccess="isSuccessful" @click="refund">
                        {{ $tc('unzer-payment.paymentDetails.actions.refundButton') }}
                    </sw-button-process>
                {% endblock %}
            </sw-container>

            {% block unzer_payment_actions_default_button %}
                <sw-button :disabled="true" v-else>
                    {{ $tc('unzer-payment.paymentDetails.actions.defaultButton') }}
                </sw-button>
            {% endblock %}

            {% block unzer_payment_actions_button_container_inner %}{% endblock %}
        </div>
    </sw-container>
{% endblock %}
