<?xml version="1.0" encoding="UTF-8" ?>
<container xmlns="http://symfony.com/schema/dic/services"
           xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
           xsi:schemaLocation="http://symfony.com/schema/dic/services http://symfony.com/schema/dic/services/services-1.0.xsd">
    <services>
        <service id="UnzerPayment6\Components\DependencyInjection\Factory\PaymentTransitionMapperFactory">
            <argument type="tagged" tag="unzer.transition_mapper" />
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\AliPayTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\ApplePayTransitionMapper">
            <argument type="service" id="UnzerPayment6\Components\ConfigReader\ConfigReader" />
            <argument type="service" id="order_transaction.repository" />

            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\BancontactTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\BankTransferTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\CreditCardTransitionMapper">
            <argument type="service" id="UnzerPayment6\Components\ConfigReader\ConfigReader" />
            <argument type="service" id="order_transaction.repository" />

            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\EpsTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\GiropayTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\IdealTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\InstallmentSecuredTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\InvoiceSecuredTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\InvoiceTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\PayPalTransitionMapper">
            <argument type="service" id="UnzerPayment6\Components\ConfigReader\ConfigReader"/>
            <argument type="service" id="order_transaction.repository"/>

            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\PrepaymentTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\PrzelewyTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\SepaDirectDebitSecuredTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\SepaDirectDebitTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\SofortTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\WeChatTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\PaylaterInvoiceTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>

        <service id="UnzerPayment6\Components\PaymentTransitionMapper\PaylaterInstallmentTransitionMapper">
            <tag name="unzer.transition_mapper"/>
        </service>
    </services>
</container>
