includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon

parameters:
    reportUnmatchedIgnoredErrors: true
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#does not accept object#'