parameters:
    level: 7
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    inferPrivatePropertyTypeFromConstructor: true
    ignoreErrors:
        - '#Property(.*)does not accept object(.*)#'
        - '#does not accept heidelpayPHP\\Resources\\AbstractHeidelpayResource#'
        - '#UnzerPayment6\\Components\\Struct\\Configuration::get\(\)#'
