parameters:
    level: 8
    paths:
        - src
        - tests
    bootstrapFiles:
        - vendor/autoload.php
    reportUnmatchedIgnoredErrors: false
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    ignoreErrors:
        - '#unknown class .*PaymentMethodRepositoryDecorator#'
        - '#invalid type .*PaymentMethodRepositoryDecorator#'
        - '#Parameter .*? expects .*?\|null given#'
        - '#Property .*? does not accept (.*?\|null|UnzerSDK\\Resources\\AbstractUnzerResource)#'
        - '#Call to an undefined method Shopware\\Storefront\\Controller\\StorefrontController::(cartPage|confirmPage|info|offcanvas|order|finishPage)#'
