parameters:
    level: 0

    ignoreErrors:
        - '#apcu_#'
        - '#ioncube_#'
        - '#opcache_#'
        - '#imagettftext#'
        - '#class Redis#'
        - '#Constant STARTTIME#'

    reportUnmatchedIgnoredErrors: false
    tipsOfTheDay: false
