{% block unzer_payment_frame_sepa_mandate %}
    <div class="unzer-payment-sepa-mandate-container">
        <div class="card-title">
            {{ "UnzerPayment.frame.sepa.mandate.title" | trans  }}
        </div>

        <div class="unzer-payment-sepa-mandate-content">
            {# Added for v6.4 compatiblity #}
            {% if shopware.config.core.basicInformation.shopName is defined %}
                {% set company = shopware.config.core.basicInformation.shopName %}
            {% else %}
                {% set company = config('core.basicInformation.shopName') %}
            {% endif %}

            {{ "UnzerPayment.frame.sepa.mandate.content" | trans({'%company%': company})  }}
        </div>

        <div class="custom-control custom-checkbox">
            <input type="checkbox" required="required" class="custom-control-input" form="confirmOrderForm" name="acceptSepaMandate" id="acceptSepaMandate"/>
            <label for="acceptSepaMandate" class="custom-control-label">{{ "UnzerPayment.frame.sepa.mandate.accept" | trans  }}</label>
        </div>
    </div>
{% endblock %}
