{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_alerts %}
    {{ parent() }}

    <div class="unzer-payment--error-wrapper" hidden="hidden">
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type: "danger",
            content: ""
        } %}
    </div>
{% endblock %}

{% block page_checkout_confirm_product_table %}
    {% if page.extensions.unzerPaymentFrame.paymentFrame and page.extensions.unzerPaymentData %}
        {% block unzer_payment_checkout_confirm_frame %}
            {% sw_include '@Storefront/storefront/component/unzer/base/unzer-library.html.twig' %}

            {% block page_checkout_unzer_payment_form_elements %}
                <input type="hidden" id="unzerResourceId" name="unzerResourceId" form="confirmOrderForm">
            {% endblock %}

            {% block unzer_payment_checkout_confirm_frame_card %}
                {% if 'paypal' in page.extensions.unzerPaymentFrame.paymentFrame and page.extensions.unzerPayPal.displayPayPalAccountSelection
                    or 'paypal' not in page.extensions.unzerPaymentFrame.paymentFrame %}
                    {% set paymentDataExtensionName = constant("UnzerPayment6\\Components\\Struct\\PageExtension\\Checkout\\Confirm\\UnzerDataPageExtension::EXTENSION_NAME") %}
                    <div class="unzer-payment-base"
                         id="unzer-payment-base"
                         data-unzer-payment-base="true"
                         data-unzer-payment-base-options='{
                         "publicKey": "{{ page.extensions[paymentDataExtensionName].publicKey }}",
                         "errorShouldNotBeEmpty": "{{ "error.VIOLATION::IS_BLANK_ERROR" | trans }}"
                     }'>
                        <div class="unzer-payment-base-body">
                            {% block unzer_payment_checkout_confirm_frame_card_body %}
                                {% block unzer_payment_checkout_confirm_frame_card_body_frame %}
                                    <div class="unzer-payment-frame">
                                        {% sw_include page.extensions.unzerPaymentFrame.paymentFrame ignore missing %}
                                    </div>
                                {% endblock %}
                            {% endblock %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        {% endblock %}
    {% endif %}

    {{ parent() }}
{% endblock %}

