{% sw_extends '@Storefront/storefront/page/checkout/confirm/index.html.twig' %}

{% block page_checkout_confirm_errors %}
    {{ parent() }}

    <div class="unzer-paymenterror-wrapper" hidden="hidden">
        {% sw_include '@Storefront/storefront/utilities/alert.html.twig' with {
            type: "danger",
            content: ""
        } %}
    </div>
{% endblock %}

{% block page_checkout_confirm_product_table %}
    {% if page.extensions.unzerPaymentFrame.paymentFrame %}
        {% block unzer_paymentcheckout_confirm_frame %}
            {% sw_include '@Storefront/storefront/component/unzer/base/unzer-library.html.twig' %}

            {% block page_checkout_unzer_paymentform_elements %}
                <input type="hidden" id="unzerResourceId" name="unzerResourceId" form="confirmOrderForm">
            {% endblock %}

            {% block unzer_paymentcheckout_confirm_frame_card %}
                {% if 'paypal' in page.extensions.unzerPaymentFrame.paymentFrame and page.extensions.unzerPayPal.displayPayPalAccountSelection
                    or 'paypal' not in page.extensions.unzerPaymentFrame.paymentFrame %}
                    <div class="unzer-paymentcard"
                         id="unzer-paymentcard"
                         data-unzer-base="true"
                         data-unzer-base-options='{
                         "publicKey": "{{ shopware.config.UnzerPayment6.settings.publicKey }}",
                         "errorShouldNotBeEmpty": "{{ "error.VIOLATION::IS_BLANK_ERROR" | trans }}"
                     }'>
                        <div class="card-body">
                            {% block unzer_paymentcheckout_confirm_frame_card_body %}
                                {% block unzer_paymentcheckout_confirm_frame_card_body_frame %}
                                    <div class="unzer-paymentframe">
                                        {% sw_include page.extensions.unzerPaymentFrame.paymentFrame ignore missing %}
                                    </div>
                                {% endblock %}
                            {% endblock %}
                        </div>
                    </div>
                {% endif %}
            {% endblock %}
        {% endblock %}
    {% endif %}

    {{ parent() }}
{% endblock %}

