{% sw_extends '@Storefront/storefront/page/account/order/index.html.twig' %}

{% block unzer_payment_checkout_confirm_frame_card %}
    {% if 'paypal' in page.extensions.unzerPaymentFrame.paymentFrame and page.extensions.unzerPayPal.displayPayPalAccountSelection
        or 'paypal' not in page.extensions.unzerPaymentFrame.paymentFrame %}
        <div class="unzer-payment-card"
             id="unzer-payment-card"
             data-unzer-payment-base="true"
             data-unzer-payment-base-options='{
                     "publicKey": "{{ page.extensions.unzerPaymentData.publicKey }}",
                     "errorShouldNotBeEmpty": "{{ "error.VIOLATION::IS_BLANK_ERROR" | trans }}",
                     "isOrderEdit": true
                 }'>
            <div class="card-body">
                {% block unzer_payment_checkout_confirm_frame_card_body %}
                    {% block unzer_payment_checkout_confirm_frame_card_body_frame %}
                        <div class="unzer-payment-frame">
                            {% sw_include page.extensions.unzerPaymentFrame.paymentFrame ignore missing %}
                        </div>
                    {% endblock %}
                {% endblock %}
            </div>
        </div>
    {% endif %}
{% endblock %}
