{% block unzer_payment_frame_eps %}
    {% block unzer_payment_checkout_confirm_frame_card_body_title %}
        <div class="card-title">
            {{ context.paymentMethod.translated.name }}
        </div>
    {% endblock %}

    <div class="unzer-payment-eps-wrapper"
         data-unzer-payment-eps="true">

        <div id="unzer-payment-eps-container"></div>
    </div>
{% endblock %}
