{% block unzer_paymentframe_ideal %}
    {% block unzer_paymentcheckout_confirm_frame_card_body_title %}
        <div class="card-title">
            {{ context.paymentMethod.translated.name }}
        </div>
    {% endblock %}

    <div class="unzer-paymentideal-wrapper"
         data-unzer-ideal="true">

        <div id="unzer-paymentideal-container"></div>
    </div>
{% endblock %}
