{% block heidelpay_frame_credit_card %}
    <div class="heidelpay-credit-card-wrapper"
         data-heidelpay-credit-card="true">
        <label for="heidelpay-credit-card-number">
            Card-Number:
        </label>

        <div id="heidelpay-credit-card-number" class="heidelpay-text-input form-control"></div>

        <label for="heidelpay-credit-card-expiry">
            Ablauf:
        </label>
        <div id="heidelpay-credit-card-expiry" class="heidelpay-text-input form-control"></div>

        <label for="heidelpay-credit-card-cvc">
            CVC:
        </label>
        <div id="heidelpay-credit-card-cvc" class="heidelpay-text-input form-control"></div>
    </div>
{% endblock %}
