<?xml version="1.0" encoding="UTF-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/platform/master/src/Core/System/SystemConfig/Schema/config.xsd">

    <card>
        <title>API Settings</title>
        <title lang="de-DE">API Konfiguration</title>
        <input-field>
            <name>publicKey</name>
            <label>Public key</label>
            <label lang="de-DE">Public key</label>
        </input-field>
        <input-field>
            <name>privateKey</name>
            <label>Private key</label>
            <label lang="de-DE">Private key</label>
        </input-field>
        <input-field type="bool">
            <name>testMode</name>
            <label>Test mode</label>
            <label lang="de-DE">Testmodus</label>
            <helpText lang="de-DE">Aktivieren, um Testdaten zu Zahlungsmitteln in der Storefront auszugeben.</helpText>
            <helpText>Activate to display test data for payment devices in the storefront.</helpText>
        </input-field>
    </card>

    <card>
        <title>Payment Settings</title>
        <title lang="de-DE">Zahlungsarten Einstellungen</title>
        <input-field type="single-select">
            <name>bookingModeCreditCard</name>
            <label>Booking mode credit card</label>
            <label lang="de-DE">Buchungsmodus für Kreditkarte</label>
            <helpText>If you select the charge option, the amount is debited immediately; if you select the Authorization option, the amount must be collected manually later.</helpText>
            <helpText lang="de-DE">Bei der Option Direkt wird der Betrag sofort abgebucht, wählen Sie hingegen die Option Authorisierung muss der Betrag später manuell eingezogen werden.</helpText>
            <options>
                <option>
                    <id>charge</id>
                    <name>charge</name>
                    <name lang="de-DE">Direkt</name>
                </option>
                <option>
                    <id>authorize</id>
                    <name>authorize</name>
                    <name lang="de-DE">Authorisierung</name>
                </option>
            </options>
        </input-field>
        <input-field type="bool">
            <name>registerCreditCard</name>
            <label>Register credit cards</label>
            <label lang="de-DE">Kreditkarten registrieren</label>
        </input-field>
    </card>
</config>
