.unzer-payment-base {
    &.has-margin-top {
        margin-top: 32px;
    }
    margin-bottom: 32px;
}

.unzer-payment-frame-row {
    margin-bottom: 16px;
}

.unzer-payment-error {
    color: #f27f7f;
}

.unzer-payment-text-input {
    height: 34px;
}

.unzer-payment-saved-cards-wrapper {
    margin-bottom: 24px;
}

.unzer-payment-date-input {
    width: 33%;
}

#unzer-payment-credit-card-icon {
    float: left;
}

#unzer-payment-credit-card-number-input {
    width: 90%;
    display: inline-block;
    margin-left: 8px;
}

.unzer-payment-loader {
    height: 64px;
}

.unzer-payment-sepa-wrapper-elements {
    margin-top: 20px;
    padding: 10px;
}

.unzerUI.left.icon.input {
    height: unset;
}

.unzerUI.left.icon.message.multiline {
    height: unset;
    width: unset;
    overflow: initial;
    margin-bottom: 1rem;
}

.unzer-payment-birthday {
  .unzer-payment-birthday-error {
    display: none;
  }

  &.error {
    .unzer-payment-label {
      color: #d0021b;
    }

    .unzer-payment-date-input {
      border-color: #d0021b;
      background: #fff6f6;
    }

    .unzer-payment-birthday-error {
      color: #d0021b;
      display: inline-block;
    }
  }
}

