{# @var device \HeidelPayment6\DataAbstractionLayer\Entity\PaymentDevice\HeidelpayPaymentDeviceEntity #}

{% block page_account_payment_main_heidelpay_paypal %}
    <div class="heidelpay-device paypal-account">
        {% block page_account_payment_main_heidelpay_device_title %}
            <div class="card-title">
                {{ "HeidelPayment.accountPayment.payPal" | trans  }}
            </div>
        {% endblock %}

        {% block page_account_payment_main_heidelpay_paypal_email %}
            <div id="email">
                <strong>{{ device.data['email'] }}</strong>
            </div>
        {% endblock %}

        {% block page_account_payment_main_heidelpay_device_actions %}
            <div class="heidelpay-device-actions">
                <a class="btn btn-light btn-sm" href="{{ path('heidelpay.device.delete', {
                    'id': device.id
                }) }}">
                    {{ "HeidelPayment.accountPayment.delete" | trans  }}
                </a>
            </div>
        {% endblock %}
    </div>
{% endblock %}
