{% block unzer_payment_settings %}
    <sw-page class="unzer-payment-settings">
        {% block unzer_payment_settings_header %}
            <template #smart-bar-header>
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon :name="arrowIconName" small></sw-icon>
                    {{ $tc('unzer-payment-settings.module.title') }}
                </h2>
            </template>
        {% endblock %}

        {% block unzer_payment_settings_actions %}
            <template #smart-bar-actions>
                {% block unzer_payment_settings_actions_save %}
                    <sw-button-process
                        class="sw-settings-login-registration__save-action"
                        :isLoading="isLoading"
                        :disabled="isLoading || selectedKeyPairForTesting"
                        :processSuccess="isSaveSuccessful"
                        variant="primary"
                        @click="onSave">
                        {{ $tc('global.default.save') }}
                    </sw-button-process>
                {% endblock %}
            </template>
        {% endblock %}

        {% block unzer_payment_settings_content %}
            <template #content>
                <sw-card-view>
                    <sw-system-config
                        ref="systemConfig"
                        salesChannelSwitchable
                        inherit
                        @config-changed="onConfigChange"
                        @loading-changed="onLoadingChanged"
                        @sales-channel-changed="onSalesChannelChanged"
                        domain="UnzerPayment6.settings">
                        <template #card-element="element"></template>
                    </sw-system-config>

                    <sw-card
                        :is-loading="isLoading"
                        :title="$tc(`unzer-payment-settings.apple-pay.certificates.title`)"
                        class="unzer--apple-pay-card"
                    >
                        <unzer-payment-apple-pay-certificates
                            ref="applePayCertificates"
                            :selectedSalesChannelId="selectedSalesChannelId"
                            :parentRefs="$refs"
                            :isLoading="isLoading">
                        </unzer-payment-apple-pay-certificates>
                    </sw-card>

                    <template v-for="keyPairSetting in keyPairSettings" :key="keyPairSetting.key">
                        <sw-card :title="keyPairSettingTitle(keyPairSetting)">
                            <sw-text-field
                                :label="$tc('unzer-payment-settings.form.publicKey')"
                                class="sw-field sw-block-field"
                                v-model="keyPairSetting.publicKey"
                            ></sw-text-field>
                            <sw-text-field
                                :label="$tc('unzer-payment-settings.form.privateKey')"
                                class="sw-field sw-block-field"
                                v-model="keyPairSetting.privateKey"
                            ></sw-text-field>

                            <sw-button
                                @click="openModalKeyPair = keyPairSetting"
                                :disabled="!isShowWebhooksButtonEnabled(keyPairSetting)"
                            >
                                {{ $tc('unzer-payment-settings.webhook.show') }}
                            </sw-button>

                            <unzer-payment-register-webhook
                                :isLoading="isLoading"
                                :isDisabled="!isRegisterWebhooksButtonEnabled(keyPairSetting)"
                                :webhooks="webhooks"
                                :selectedSalesChannelId="selectedSalesChannelId"
                                @webhook-registered="onWebhookRegistered(keyPairSetting.privateKey)">
                            </unzer-payment-register-webhook>

                            <sw-button-process
                                :isLoading="selectedKeyPairForTesting === keyPairSetting || isLoading"
                                :disabled="selectedKeyPairForTesting === keyPairSetting || !isRegisterWebhooksButtonEnabled(keyPairSetting)"
                                :processSuccess="selectedKeyPairForTesting === keyPairSetting && isTestSuccessful"
                                @process-finish="onTestFinished()"
                                @click="onValidateCredentials(keyPairSetting)">
                                {{ $tc('unzer-payment-settings.form.testButton') }}
                            </sw-button-process>

                            <sw-modal
                                :title="$tc(`unzer-payment-settings.modal.webhook.title`)"
                                class="unzer--webhook-card"
                                v-if="openModalKeyPair && openModalKeyPair == keyPairSetting"
                                @modal-close="onModalClose"
                            >
                                <sw-alert
                                    v-if="!isLoadingWebhooks && (!webhooks.length || webhooks.length === 0)"
                                    variant="warning"
                                    appearance="default"
                                    :showIcon="true"
                                    :closable="false">
                                    {{ $tc('unzer-payment-settings.webhook.empty') }}
                                </sw-alert>

                                 <div v-else>
                                    <sw-data-grid
                                        ref="webhookDataGrid"
                                        v-on:select-item="onSelectWebhook"
                                        :showActions="false"
                                        :showSelection="true"
                                        :dataSource="webhooks"
                                        :isLoading="isLoadingWebhooks"
                                        :columns="webhookColumns">
                                    </sw-data-grid>

                                    <sw-button-process
                                        @click="clearWebhooks(keyPairSetting.privateKey)"
                                        @process-finish="onClearingFinished()"
                                        :isLoading="isLoadingWebhooks || isClearing"
                                        :processSuccess="isClearingSuccessful"
                                        :disabled="isLoadingWebhooks || isClearing || webhookSelectionLength == 0"
                                        variant="danger">
                                        {{ $tc('unzer-payment-settings.modal.webhook.submit.clear', webhookSelectionLength, {count: webhookSelectionLength}) }}
                                    </sw-button-process>
                                </div>
                            </sw-modal>
                        </sw-card>
                    </template>
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
