{% block unzer_payment_settings %}
    <sw-page class="unzer-payment-settings">
        {% block unzer_payment_settings_header %}
            <template #smart-bar-header>
                <h2>
                    {{ $tc('sw-settings.index.title') }}
                    <sw-icon name="small-arrow-medium-right" small></sw-icon>
                    {{ $tc('unzer-payment-settings.module.title') }}
                </h2>
            </template>
        {% endblock %}

        {% block unzer_payment_settings_actions %}
            <template #smart-bar-actions>
                {% block unzer_payment_settings_actions_save %}
                    <sw-button-process
                        class="sw-settings-login-registration__save-action"
                        :isLoading="isLoading"
                        :disabled="isLoading || isTesting"
                        :processSuccess="isSaveSuccessful"
                        variant="primary"
                        @click="onSave">
                        {{ $tc('global.default.save') }}
                    </sw-button-process>
                {% endblock %}

                {% block unzer_payment_settings_actions_test %}
                    <sw-button-process
                        :isLoading="isTesting || isLoading"
                        :disabled="isLoading || isTesting"
                        :processSuccess="isTestSuccessful"
                        @process-finish="onTestFinished()"
                        @click="onValidateCredentials">
                        {{ $tc('unzer-payment-settings.form.testButton') }}
                    </sw-button-process>
                {% endblock %}

                {% block unzer_payment_settings_actions_register_webhooks %}
                    <unzer-payment-register-webhook
                        :isLoading="isLoading"
                        :webhooks="webhooks"
                        :selectedSalesChannelId="selectedSalesChannelId"
                        @webhook-registered="onWebhookRegistered">
                    </unzer-payment-register-webhook>
                {% endblock %}

            </template>
        {% endblock %}

        {% block unzer_payment_settings_content %}
            <template #content>
                <sw-card-view>
                    <sw-system-config
                        ref="systemConfig"
                        salesChannelSwitchable
                        inherit
                        @config-changed="onConfigChange"
                        @loading-changed="onLoadingChanged"
                        @sales-channel-changed="onSalesChannelChanged"
                        domain="UnzerPayment6.settings">
                    </sw-system-config>

                    <sw-card
                        :is-loading="isLoading"
                        :title="$tc(`unzer-payment-settings.apple-pay.certificates.title`)"
                        class="unzer--apple-pay-card"
                    >
                        <unzer-payment-apple-pay-certificates
                            ref="applePayCertificates"
                            :selectedSalesChannelId="selectedSalesChannelId"
                            :parentRefs="$refs"
                            :isLoading="isLoading">
                        </unzer-payment-apple-pay-certificates>
                    </sw-card>

                    <sw-card :title="$tc(`unzer-payment-settings.modal.webhook.title`)" class="unzer--webhook-card">
                        <sw-alert
                            v-if="!isLoadingWebhooks && webhooks.length === 0"
                            variant="warning"
                            appearance="default"
                            :showIcon="true"
                            :closable="false">
                            {{ $tc('unzer-payment-settings.webhook.empty') }}
                        </sw-alert>

                        <div v-else>

                            <sw-data-grid
                                ref="webhookDataGrid"
                                v-on:select-item="onSelectWebhook"
                                :showActions="false"
                                :showSelection="true"
                                :dataSource="webhooks"
                                :isLoading="isLoadingWebhooks"
                                :columns="webhookColumns">
                            </sw-data-grid>

                            <sw-button-process
                                @click="clearWebhooks"
                                @process-finish="onClearingFinished()"
                                :isLoading="isLoadingWebhooks || isClearing"
                                :processSuccess="isClearingSuccessful"
                                :disabled="isLoadingWebhooks || isClearing || webhookSelectionLength == 0"
                                variant="danger">
                                {{ $tc('unzer-payment-settings.modal.webhook.submit.clear', webhookSelectionLength, {count: webhookSelectionLength}) }}
                            </sw-button-process>

                        </div>

                    </sw-card>
                </sw-card-view>
            </template>
        {% endblock %}
    </sw-page>
{% endblock %}
