{% block unzer_payment_payment_register_webhook %}
    <div class="register-webhook--container">
        {% block unzer_payment_payment_register_webhook_button %}
            <sw-button-process
                :isLoading="isRegistering || isLoading"
                :disabled="isLoading"
                :processSuccess="isRegistrationSuccessful"
                @process-finish="onRegistrationFinished()"
                @click="openModal">
                {{ $tc('unzer-payment-settings.form.webhookButton') }}
            </sw-button-process>
        {% endblock %}

        {% block unzer_payment_payment_register_webhook_modal %}
            <sw-modal v-if="isModalActive" @modal-close="closeModal"
                      :title="$tc(`unzer-payment-settings.modal.webhook.title`)"
                      class="unzer-payment-detail--webhook-modal">

                <template #default>
                    <sw-alert
                        variant="info"
                        appearance="default"
                        :showIcon="true"
                        :closable="false">
                        {{ $tc('unzer-payment-settings.modal.webhook.httpsInfo') }}
                    </sw-alert>

                    <sw-card
                        v-for="salesChannel in salesChannels"
                        v-if="!selectedSalesChannelId || selectedSalesChannelId === salesChannel.id"
                        :key="salesChannel.id"
                        :title="salesChannel.translated.name"
                        :large="true"
                        >

                        <sw-data-grid
                            v-if="!isWebhookRegisteredForSalesChannel(salesChannel.id)"
                            v-on:select-item="onSelectItem"
                            :maximumSelectItems="1"
                            :dataSource="salesChannel.domains"
                            :columns="salesChannelDomainColumns"
                            :showActions="false"
                            :showSelection="true">
                        </sw-data-grid>

                        <sw-alert
                            v-else
                            variant="success"
                            appearance="default"
                            :showIcon="true"
                            :closable="false">
                            {{ $tc('unzer-payment-settings.modal.webhook.registered') }}
                        </sw-alert>
                    </sw-card>

                </template>

                <template #modal-footer>
                    <sw-button :disabled="isLoading" @click="closeModal">
                        {{ $tc('unzer-payment-settings.modal.close') }}
                    </sw-button>

                    <sw-button-process
                        @click="registerWebhooks"
                        @process-finish="onRegistrationFinished()"
                        :isLoading="isLoading" :processSuccess="isRegistrationSuccessful" :disabled="isLoading"
                        variant="primary">
                        {{ $tc('unzer-payment-settings.modal.webhook.submit.register') }}
                    </sw-button-process>
                </template>
            </sw-modal>
        {% endblock %}
    </div>
{% endblock %}
