.unzer-card {
    &.has-margin-top {
        margin-top: 32px;
    }
    margin-bottom: 32px;
}

.unzer-frame-row {
    margin-bottom: 16px;
}

.unzer-error {
    color: #f27f7f;
}

.unzer-text-input {
    height: 34px;
}

.unzer-saved-cards-wrapper {
    margin-bottom: 24px;
}

.unzer-date-input {
    width: 33%;
}

#unzer-credit-card-icon {
    float: left;
}

#unzer-credit-card-number-input {
    width: 90%;
    display: inline-block;
    margin-left: 8px;
}

.unzer-loader {
    height: 64px;
}

.heidelpayUI.left.icon.input {
    height: unset;
}

.unzer-sepa-wrapper-elements {
    margin-top: 20px;
    padding: 10px;
}
