.heidelpay-device {
    border: 1px solid #d4e2e2;
    border-radius: 2px;
    margin: 8px;
    padding: 10px;
    width: 31%;
    float: left;
}

.heidelpay-card-body {
    display: block;
}

.heidelpay-device-actions {
    margin-top: 8px;
}
