{% block heidelpay_frame_invoice %}
    {% block heidelpay_checkout_confirm_frame_card_body_title %}
        <div class="card-title">
            {{ context.paymentMethod.translated.name }}
        </div>
    {% endblock %}

    <div class="heidelpay-invoice-wrapper"
         data-heidelpay-invoice="true">
    </div>
{% endblock %}
