{% block heidelpay_frame_sepa_direct_debit_guaranteed %}
    <div class="heidelpay-sepa-wrapper"
         data-heidelpay-sepa-direct-debit-guaranteed="true"
         data-heidelpay-sepa-direct-debit-guaranteed-options='{
            "mandateNotAcceptedError": "{{ "HeidelPayment.frame.sepa.mandate.error" | trans  }}"
         }'>

        {% block heidelpay_frame_sepa_direct_debit_guaranteed_test_data %}
            {% if  shopware.config.HeidelPayment.config.testMode %}
                {% sw_include '@Storefront/storefront/component/heidelpay/frames/testdata/sepa.html.twig' %}
            {% endif %}
        {% endblock %}

        {% block heidelpay_frame_sepa_direct_debit_guaranteed_birthday %}
            <div class="heidelpay-frame-row">
                <label for="heidelpayBirthday">
                    {{ "account.personalBirthdayLabel"|trans }}
                </label>

                <input type="date"
                       id="heidelpayBirthday"
                       name="heidelpayBirthday"
                       class="form-control heidelpay-date-input"
                       form="confirmOrderForm"
                       required="required"
                       {% if context.customer.birthday is not empty %}value="{{ context.customer.birthday|date('Y-m-d') }}"{% endif %}/>
            </div>
        {% endblock %}

        {% block heidelpay_frame_sepa_direct_debit_guaranteed_iban %}
            <div id="heidelpay-sepa-container"></div>
        {% endblock %}

        {% block heidelpay_frame_sepa_direct_debit_guaranteed_mandate %}
            {% sw_include '@Storefront/storefront/component/heidelpay/frames/sepa/mandate.html.twig' %}
        {% endblock %}
    </div>
{% endblock %}
