{% block unzer_payment_payment_details %}
    <div class="unzer-payment-detail">
        <div v-if="!isLoading">
            {% block unzer_payment_payment_details_content %}
                <template v-for="paymentResource in paymentResources">
                    <template v-if="paymentResource">
                        {% block unzer_payment_payment_details_content_payment_detail %}
                            <unzer-payment-detail
                                :paymentResource="paymentResource"
                                @reload="reloadPaymentDetails">
                            </unzer-payment-detail>
                        {% endblock %}

                        {% block unzer_payment_payment_details_content_payment_history %}
                            <unzer-payment-history
                                :paymentResource="paymentResource"
                                @reload="reloadPaymentDetails">
                            </unzer-payment-history>
                        {% endblock %}

                        {% block unzer_payment_payment_details_content_payment_basket %}
                            <unzer-payment-basket
                                :paymentResource="paymentResource"
                                @reload="reloadPaymentDetails">
                            </unzer-payment-basket>
                        {% endblock %}

                        {% block unzer_payment_payment_details_content_payment_metadata %}
                            <unzer-payment-metadata
                                :paymentResource="paymentResource"
                                @reload="reloadPaymentDetails">
                            </unzer-payment-metadata>
                        {% endblock %}

                        {% block unzer_payment_payment_details_content_inner %}{% endblock %}
                    </template>
                </template>
            {% endblock %}
        </div>

        <sw-loader v-if="isLoading"></sw-loader>
    </div>
{% endblock %}
