{% block sw_order_list_grid_columns %}
    {% parent %}

    {% block unzer_payment_column_transaction %}
        <template #column-unzerPaymentTransactionId="{ item }">
            <span v-if="item.transactions && item.transactions.last() && item.transactions.last().customFields && item.transactions.last().customFields.unzer_payment_is_transaction">
                {{ item.transactions.last().id }}
            </span>
        </template>
    {% endblock %}
{% endblock %}
