.heidelpay-card {
  margin-bottom: 32px;
}

.heidelpay-frame-row {
  margin-bottom: 16px;
}

.heidelpay-error {
  color: #f27f7f;
}

.heidelpay-text-input {
  height: 34px;
}

.heidelpay-saved-cards-wrapper {
    margin-bottom: 24px;
}
