.heidelpay-sepa-mandate-container {
    border: 1px solid #d4e2e2;
    padding: 16px;
    margin-top: 16px;
}

.heidelpay-sepa-mandate-content {
    border-bottom: 1px solid #d4e2e2;
    padding-bottom: 16px;
    margin-bottom: 16px;
}
