{% block heidel_payment_actions %}
    <sw-container columns="1fr 1fr" gap="0 10px">
        <div class="heidel-payment-actions--input">
            <sw-number-field
                v-on:click.native.stop
                v-model="transactionAmount"
                v-if="isChargePossible || isRefundPossible">
            </sw-number-field>
        </div>

        <div class="heidel-payment-actions--button">
            <sw-button :disabled="isLoading" v-if="isChargePossible" @click="charge">
                {{ $tc('heidel-payment.paymentDetails.actions.chargeButton') }}
            </sw-button>

            <sw-button :disabled="isLoading" v-if="isRefundPossible" @click="refund">
                {{ $tc('heidel-payment.paymentDetails.actions.refundButton') }}
            </sw-button>
        </div>
    </sw-container>
{% endblock %}
