{% block unzer_payment_frame_apple_pay_testdata %}
    <a href="https://developer.apple.com/apple-pay/sandbox-testing/">{{ 'UnzerPayment.frame.applePay.testData.linkText' | trans }}</a>
{% endblock %}
