{% block unzer_payment_frame_installment_paylater_testdata %}
    <table class="table table-sm table-bordered">
        <tr>
            <th>{{ "UnzerPayment.frame.installmentPaylater.testData.accountHolder" | trans  }}</th>
            <th>{{ "UnzerPayment.frame.installmentPaylater.testData.iban" | trans  }}</th>
            <th>{{ "UnzerPayment.frame.installmentPaylater.testData.birthday" | trans  }}</th>
        </tr>
        <tr>
            <td>Manuel Weißmann</td>
            <td>DE89370400440532013000</td>
            <td>03.10.1979</td>
        </tr>
    </table>
{% endblock %}
