{% sw_extends '@Storefront/storefront/page/account/order-history/order-detail.html.twig' %}

{% block page_account_order_item_detail_table_header %}
    {% for transaction in order.transactions %}
        {% if transaction.extensions.unzerTransferInfo %}
            {% block page_account_order_item_detail_unzer_paymentpayment_instructions %}
                <div class="unzer-paymenttransfer-information-wrapper">
                    {% sw_include '@Storefront/storefront/component/unzer/finish/transfer-information.html.twig' with {
                        'transferInformation': transaction.extensions.unzerTransferInfo
                    } %}
                </div>
            {% endblock %}
        {% endif %}
    {% endfor %}

    {{ parent() }}
{% endblock %}
