{% sw_extends "@Storefront/storefront/component/payment/payment-fields.html.twig" %}

{# SW 6.3 compatibility #}
{% block component_payment_method %}
    {% if payment and payment.id == constant("UnzerPayment6\\Installer\\PaymentInstaller::PAYMENT_ID_APPLE_PAY") %}
        <div class="unzer-payment-apple-pay-method-wrapper">
            {{ parent() }}
        </div>
    {% else %}
        {{ parent() }}
    {% endif %}
{% endblock %}
